.display {
	width:300px; 
	height:60px; 
	line-height:20px; 
	overflow:hidden;
	border:1px solid black;
}
.display-more {
	width:300px; 
	line-height:20px; 
	overflow:hidden; 
	border:1px solid black;
}